.modalConductor {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: calc(50% - 225px);
    right: 0;
    bottom: 0;
    padding: 15px 25px;
    width: 100%;
    height: 100%;
}
