.button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    transition: all 0.35s ease-in;
    cursor: pointer;
}

.button:hover {
    background: #000;
    border: none;
    color: #ffffff;
}

.button:focus {
    outline: none;
}
